tgcrypto==1.2.2
pyTelegramBotAPI==4.22.0
Kvsqlite==0.2.1
schedule==1.2.2
requests2.32.3
user-agent==0.1.10
ipaddress==1.0.23
pathlib==1.0.1
typing==3.10.0.0
aiosqlite==0.20.0
Telethon==1.36.0
Pyrogram==0.3.3
pyqt5==5.15.4
opentele==1.15.1
secrets 1.0.2

