pyrostep
lxml==5.1.0
beautifulsoup4==4.12.2
requests==2.31.0
ytl==1.0.1
youtube_dl==2021.12.17
Flask==3.0.0
requests-HTML==0.3.4 
fake-useragent==1.4.0
Faker==22.2.0
pymongo==4.6.3
feedparser==6.0.11
pyrogram==2.0.106
wget==3.2
pySmartDL==1.3.4
tqdm  
moviepy
humanize
pillow
telegraph==1.4.1
tgcrypto==1.2.2
python-dotenv==0.17.1
pytz
cloudscraper==1.2.71
cfscrape==2.1.1 
cloudscraper==1.2.71
cfscrape==2.1.1 
pySmartDL==1.3.4
moviepy
humanize
pillow
youtube_dl==2021.12.17


